
#property('summary', 'Modifying real servers weight for production servers and adds Canary sever')

#typedef('RealServer')
	#param($id,'string')
	#param($port,'int','defaultValue=80')
	#param($address,'ip')
	#param($name,'string')
#end

#param('canary', 'RealServer', 'in')
#param('groupId', 'string', 'in', 'prompt=Group Id')
#param('normalWeight', 'int', 'in', 'prompt=Production servers weight')
#param('canaryWeight', 'int', 'in', 'prompt=Canary server weight')
#param('origin_weights', 'object', 'inout')

##set($origin_weights = {})

## Get group's servers
#set($bean = $adc.newBean("SlbCurCfgEnhGroupRealServerEntry"))
#set($servers = $adc.readAll($bean))

## Update production servers' weight
#log("Seting production servers' weight for group $groupId to $normalWeight")
#foreach ($server in $servers)
	#if ($server.realServGroupIndex == $groupId)
		#set($bean = $adc.newBean("SlbCurCfgEnhRealServerEntry"))
		#set($bean.index = $server.servIndex)
		#set($serverInfo = $adc.read($bean))
		#set($dummy = $origin_weights.put($server.servIndex, $serverInfo.weight))
		/c/slb/real $server.servIndex
			weight  $normalWeight
	#end
#end

## Add canary server
/c/slb/real $canary.id
	name    $canary.name
    ipver   v4
    rip     $canary.address
    weight  $canaryWeight
    addport $canary.port
    ena

## Add canary server to group
/c/slb/group $groupId
       add $canary.id
